.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header nav a {
    margin-right: 15px;
    text-decoration: none;
}

.header button {
    color: white;
    background-color: #7E90FE;
    padding: 15px;
    border: none;
    border-radius: 5px;
}